In [ ]:
import pandas as pd

In [ ]:
a=[10, 20, 30, 40, 50]
sri1 = pd.Series(a, index=['a','b','c','d','e'])
print(sri1)
print(sri1.index)
print(sri1.values)
print(sri1.value_counts)
print(sri1.dtype)

In [ ]:
b={'홍길동':70, '김승현':85,'박정혁':80}
s1=pd.Series(b)
print(s1)
s1.index=['hong','kim','park']
print(s1)
print(s1.index)
print(s1.values)

In [ ]:
print(s1['hong'])
print(s1[['hong','park']])

In [ ]:
names=['kim','lee','choi','park','jung']
years = [2013, 2014, 2015, 2016, 2017]
points = [1.5, 1.7, 3.6, 2.4, 2.9]

In [ ]:
data={'name':names, 'year':years, 'point':points}
df=pd.DataFrame(data,index=['one','two','three','fore','five'])
df

In [ ]:
data=[names,years,points]
df1=pd.DataFrame(data).T
df1.columns=['name','year','point']
df1.index=['one','two','three','fore','five']
df1

In [ ]:
df1.describe()

In [ ]:
df2=df1[['year','point']]
df2.describe()

In [ ]:
df2.info()
df1['point']=df1['point'].astype('float32')
df1['year']=df1['year'].astype('int64')
df1.info()

In [ ]:
df1.describe()

In [ ]:
name1=df.name
name2=df['name']
print(name1)
print(name2.to_list())

In [ ]:
df['penalty']=[0.5, 0.1, 0.3, 0.2, 0.5]
df['aa']=[1,2,3,4,5]
df

In [ ]:
import numpy as np
df['cc'] = [1.0, np.nan, 3.5, np.nan, 1.5]
# df2 = df.dropna(how='any'); df2
# df3=df.fillna(value=0.5); df3
df

In [ ]:
df.loc['one':'fore']
df.iloc[0:3, 0:3]

In [ ]:
df.loc[df['point']>2.5,:]

In [ ]:
df5=df.drop('one')
df5

In [ ]:
df.drop('bb',axis=1)

In [ ]:
kors=[80,75,60,70,95]
engs=[85,70,65,75,85]
maths=[80,70,75,95,90]
data={'name':names,'kor':kors, 'eng':engs,'math':maths}
df=pd.DataFrame(data, index=['a','b','c','d','e'])
df

In [ ]:
#df.sum(axis=1)
df.max(axis=0)

In [ ]:
df['class'] = ['A','B','B','A','A']
df['total'] = df.kor+df.eng+df.math
print(df.groupby('class').mean())
print(df.groupby('class')['total'].mean())

In [ ]:
df1['total'].corr(df1['math'])

In [ ]:
input_file = 'data/input.csv'
output_file='data/output1.csv'

In [ ]:
df=pd.read_csv(input_file)
df

In [ ]:
df['Cost']=df['Cost'].str.strip('$').str.replace(',','').astype(float)
df

In [ ]:
result=df.loc[(df['Cost']>=600000) & (df['Supplier Name'] == 'A')]
result

In [ ]:
result2=df.loc[(df['Cost']>=500000) & (df['Cost']<= 7000000)]
result2

In [ ]:
result3 = df.groupby('Supplier Name')['Cost'].mean()
result3

In [ ]:
result2.to_csv(output_file, index=False)